<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block style %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
{% block header %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}
</body>
</html>